.App {
  text-align: center;
  margin: 100px auto;
  padding: 40px;
  background-color: rgb(179, 179, 202);
  width: 50%;
}

button {
  background-color: blue;
  color: white;
  padding: .5rem;
  border-radius: 5px;
  border-color: blue;
}

p {
  padding: 20px;
  margin: 10px auto;
  text-align: left;
}

textarea {
  font-size: 1rem;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

p, textarea {
  width: 80%;
}

#testing {
  background-color: beige;
  padding-top: 10px;
  padding-bottom: 10px;
}
